<div id="dashboard-server">
    <div id="widgets">
        <div class="widget-group" layout="row" flex="100" layout-wrap>
            <ms-widget flippable="false" layout="row" flex="100">
                <ms-widget-front class="p-16 white-bg">
                    <div class="pb-16" layout="row" layout-align="space-between center">
                        <div class="h3">{{vm.widget1.title}}</div>
                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    <div>
                        <nvd3 class="h-320" class="remove-x-lines" options="vm.widget1.chart.options" data="vm.widget1.chart.data"></nvd3>
                    </div>
                </ms-widget-front>
            </ms-widget>
        </div>
        <div class="content">
            <div class="md-title mb-32">最近交易的产品</div>
            <div class="white-bg md-whiteframe-4dp">
                <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                    <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">品种</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">次数</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">胜率</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">平均收益率</span>
                                </div>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="result-item user" ng-repeat="user in vm.products">
                            <td class="name textcont">{{user.name}}</td>
                            <td class="position textcont">{{user.ptrade_count}}</td>
                            <td class="office textcont">{{user.win_rate}}%</td>
                            <td class="age textcont text-left">{{user.avg_rate}}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>