<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between">

    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
            <md-icon md-font-icon="icon-checkbox-marked" class="s24"></md-icon>
        </span>
        <!--<span class="logo-text" translate="TODO.TO_DO">To-Do</span>-->
        <span class="logo-text">市场</span>
    </div>
    <div class="item subheader">
        股票列表
    </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content" flex ms-scroll>
    <md-button class="tag item" aria-label="tag {{tag.label}}" ng-repeat="tag in vm.tags" ng-click="vm.toggleTagFilter(tag)" ng-class="{'selected':vm.isTagFilterExists(tag)}">
        <md-icon md-font-icon="icon-label" class="s16" ng-style="{'color' : tag.color}"></md-icon>
        <span class="title">{{tag.label}}</span>
    </md-button>
    <!--</div>-->

</md-content>
<!-- / SIDENAV CONTENT -->