<md-dialog class="task-dialog" aria-label="New Task">
    <form name="taskForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">交易中心</span><span class="title">当前交易：{{vm.task}} </span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>

            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <!--<md-input-container class="md-block">
                <label translate="TODO.TITLE">Title</label>
                <input name="title" ng-model="vm.task.title" required md-autofocus>
                <div ng-messages="taskForm.title.$error" ng-show="taskForm.title.$touched" role="alert">
                    <div ng-message="required">
                        <span translate="TODO.ERRORS.TITLE_REQUIRED">Title field is required</span>
                    </div>
                </div>
            </md-input-container>-->



            <div>
                <div layout="column" layout-gt-xs="row">
                    <md-input-container flex>
                        <label>数量</label>
                        <input type="text" name="city" ng-model="vm.number">
                    </md-input-container>
                    <!--<md-input-container flex>
                        <span class="md-subhead">估计金额：</span>{{vm.task}}
                    </md-input-container>-->

                    <md-radio-group ng-model="data.group1">
                        <md-radio-button value="" class="md-primary">即时</md-radio-button>
                        <md-radio-button value="">委托</md-radio-button>
                        <md-radio-button value="">止损</md-radio-button>
                    </md-radio-group>
                </div>
                <div layout="column" layout-gt-xs="row">
                    <md-input-container flex>
                        <span class="md-subhead">卖价：{{}}</span>
                    </md-input-container>
                    <md-input-container flex>
                        <span class="md-subhead">买价：{{}}</span>
                    </md-input-container>

                    <md-radio-group ng-model="data.group1">
                        <md-radio-button value="" class="md-primary">当日有效</md-radio-button>
                        <md-radio-button value="">撤销前有效</md-radio-button>
                    </md-radio-group>
                </div>
            </div>


        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-if="!vm.newTask" ng-click="vm.saveTask()" class="send-button md-accent md-raised" ng-disabled="taskForm.$invalid || taskForm.$pristine" aria-label="卖出" translate-attr-aria-label="TODO.SAVE">
                    买入
                </md-button>
            </div>

            <div layout="row">
                <md-button type="submit" ng-if="!vm.newTask" ng-click="vm.saveTask()" class="send-button md-accent md-raised" ng-disabled="taskForm.$invalid || taskForm.$pristine" aria-label="买入" translate-attr-aria-label="TODO.SAVE">
                    卖出
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>