<div id="forgot-password" class="flex-scrollable" layout="column" ms-scroll>
    <div id="forgot-password-form-wrapper" layout="column" layout-align="center center">
        <div id="forgot-password-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>F</span>
            </div>

            <div class="title" translate="FORGOTPASSWORD.TITLE">Recover your password</div>

            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="邮箱找回密码">
                            <md-content class="md-padding">

                                <!--<form name="forgotPasswordForm" novalidate>-->
                                <md-input-container class="md-block" md-no-float>
                                    <input type="email" name="email" ng-model="vm.email" placeholder="Email address" translate translate-attr-placeholder="FORGOTPASSWORD.EMAIL_ADRESS" ng-pattern="/^.+@.+\..+$/" required>
                                    <div ng-messages="forgotPasswordForm.email.$error" role="alert" multiple>
                                        <div ng-message="required">
                                            <span translate="FORGOTPASSWORD.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                                        </div>
                                        <div ng-message="pattern">
                                            <span translate="FORGOTPASSWORD.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" md-no-float style="font-size: 1.3rem;">
                                    <input type="text" name="code" ng-model="vm.emailcode" placeholder="Email address" translate translate-attr-placeholder="FORGOTPASSWORD.YANZHENG" required>
                                    <div ng-messages="forgotPasswordForm.code.$error" role="alert" multiple>
                                        <div ng-message="required">
                                            <span translate="FORGOTPASSWORD.ERRORS.CODE_REQUIRED">Email field is required</span>
                                        </div>
                                        <div ng-message="pattern">
                                            <span translate="FORGOTPASSWORD.ERRORS.CODE_MUST_VALID">Email must be a valid e-mail address</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <!--</form>-->

                            </md-content>
                        </md-tab>
                        <md-tab label="手机找回密码">
                            <md-content class="md-padding">
                                <!--<form name="forgotPasswordForm" novalidate>-->
                                <md-input-container class="md-block" md-no-float>
                                    <input type="tel" name="phone" ng-model="vm.phone" placeholder="Email address" translate translate-attr-placeholder="FORGOTPASSWORD.TEL_ADRESS" ng-pattern="/^1\d{10}$/" required>
                                    <div ng-messages="forgotPasswordForm.phone.$error" role="alert" multiple>
                                        <div ng-message="required">
                                            <span translate="FORGOTPASSWORD.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                                        </div>
                                        <div ng-message="pattern">
                                            <span translate="FORGOTPASSWORD.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" md-no-float style="font-size: 1.3rem;">
                                    <input type="text" name="code" ng-model="vm.phonecode" placeholder="Email address" translate translate-attr-placeholder="请填写验证码" required>
                                    <div ng-messages="forgotPasswordForm.code.$error" role="alert" multiple>
                                        <div ng-message="required">
                                            <span translate="FORGOTPASSWORD.ERRORS.CODE_REQUIRED">Email field is required</span>
                                        </div>
                                        <div ng-message="pattern">
                                            <span translate="FORGOTPASSWORD.ERRORS.CODE_MUST_VALID">Email must be a valid e-mail address</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <!--</form>-->


                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>









            <md-button type="submit" ng-click="getTestCode(vm.email,vm.phone)" ng-bind="description" ng-disabled="canClick" class="md-raised md-accent submit-button" aria-label="RESET MY PASSWORD" translate="FORGOTPASSWORD.SEND_RESET_LINK" translate-attr-aria-label="FORGOTPASSWORD.SEND_RESET_LINK">
                SEND RESET LINK
            </md-button>
            <md-button type="submit" ng-click="next()" ng-bind="descriptions" ng-disabled="next" class="md-raised md-accent submit-button" aria-label="RESET MY PASSWORD" translate="FORGOTPASSWORD.SEND_RESET_LINK" translate-attr-aria-label=" 下一步">

            </md-button>

            <div class="login" layout="row" layout-align="center center">
                <a class="link" ui-sref="app.pages_auth_login" translate="FORGOTPASSWORD.GO_BACK">Go back to login</a>
            </div>
        </div>
    </div>
</div>
<style>
    md-tab-item {
        margin: 0 0px 3px 18px;
        border-bottom: none;
    }
</style>