<div id="dashboard-analytics">

    <!-- WIDGETS -->
    <div id="widgets">

        <!-- WIDGET GROUP -->
        <div class="widget-group" layout="row" flex="100" layout-wrap>

            <!-- WIDGET 1 -->
            <ms-widget flippable="false" layout="row" flex="100">

                <!-- Front -->
                <ms-widget-front class="white-bg">


                    <iframe src="./app/trad.html" frameborder="0" width="100%" height="600"></iframe>
                    <div class="simple-table-container md-whiteframe-4dp">

                        <div class="content">
                            <div class="md-title mb-32">我的持仓 </div>

                            <div class="white-bg md-whiteframe-4dp">
                                <table class="dataTable row-border hover" datatable="ng">
                                    <thead>
                                        <tr>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">交易品种</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">数量</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">持仓本金</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">平均价格</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">价格</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">币种</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">盈亏</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">盈亏$</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">市值</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">市值$</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">操作</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">id</span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>


                                        <tr ng-repeat="cic in vm.aa" ng-show="visible">

                                            <td>{{ cic.name }}</td>
                                            <td>{{ cic.qty }}</td>
                                            <td>{{ cic.symbol }}</td>
                                            <td>{{ cic.avg_px }}</td>
                                            <td>{{ cic.value }}</td>
                                            <td>{{ cic.symbol }}</td>
                                            <td>{{ cic.profit_and_loss }}</td>
                                            <td>{{ cic.converted_profit_and_loss }}</td>
                                            <td>{{ cic.value }}</td>
                                            <td>{{ cic.converted_value }}</td>
                                            <td>
                                                <button class=" md-raised md-primary md-button md-default-theme " ,style="coloe:#ffffff " ng-click="toggle(orders.id ,cic.symbol,cic.product_id) " type="button ">{{ vm.nmfalse}}</button>
                                            </td>
                                            <td>{{cic.product_id}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <style>
                                    .aaa {
                                        display: none;
                                    }
                                </style>
                            </div>

                        </div>
                    </div>



                    <div>
                    </div>
            </ms-widget>
        </div>

        <style>
            div.dataTables_filter label {
                font-weight: 400;
                float: right;
                position: relative;
                top: -12px;
            }
            
            div.dataTables_length label {
                font-weight: 400;
                float: left;
                text-align: left;
                position: relative;
                top: 25px;
            }
            
            .dataTables_wrapper .dataTables_paginate {
                float: right;
                text-align: right;
                padding-top: 0.25em;
                position: relative;
                top: -12px;
                right: 10px;
            }
        </style>
        <div class="widget-group " layout="row " flex="100 " layout-wrap>
            <ms-widget flippable="false " layout="column " flex="100 " flex-gt-md="65 ">

                <!-- Front -->
                <ms-widget-front class="white-bg ">

                </ms-widget-front>
                <!-- / Front -->
            </ms-widget>
            <!-- / WIDGET 2 -->

            <!-- WIDGET 3 -->
            <ms-widget flippable="false " layout="column " flex="100 " flex-gt-md="35 ">

                <!-- Front -->
                <ms-widget-front class="white-bg ">
        </div>
    </div>
</div>