<md-list class="date">

</md-list>



<md-list>

    <md-list-item class="md-2-line" ng-repeat="event in vm.events" ng-click="dummyFunction(event.id,event.name,event.en_name,event.current_price)">

        <div class="md-list-item-text" style="float:left;overflow: hidden; width:33%">
            <h3>{{event.name}}</h3>

            <p>{{event.en_name}}</p>
        </div>
        <div class="md-list-item-text" style="float:right;width:33%">
            <!--<h4>成本：{{event.prev_close}}</h4>-->

            <p>现价：{{event.current_price}}</p>
        </div>
        <div class="md-list-item-text" style="float:left;width:33%">
            <h4>杠杆率：{{event.leverage}}</h4>
            <!--<p>亏：{{event.Presentprice}}</p>-->
        </div>
    </md-list-item>
</md-list>