<div id="forgot-passwords" class="flex-scrollable" layout="column" ms-scroll>
    <div id="forgot-password-form-wrapper" layout="column" layout-align="center center">
        <div id="forgot-password-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <!--<span>F</span>-->
            </div>

            <div class="title"> 重置密码{{vm.SendSuccessfully}}</div>

            <form name="forgotPasswordForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.password" placeholder="Password" translate translate-attr-placeholder="REGISTER.PASSWORD" required>
                    <div ng-messages="registerForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span translate="REGISTER.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="passwordConfirm" ng-model="vm.password_confirmation" placeholder="Password " translate translate-attr-placeholder="REGISTER.PASSWORD_CONFIRM" required>
                    <div ng-messages="registerForm.passwordConfirm.$error" role="alert">
                        <div ng-message="required">
                            <span translate="REGISTER.ERRORS.PASSWORD_CONFIRM_REQUIRED">Password (Confirm) field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-button type="submit" ng-click="Send()" class="md-raised md-accent submit-button" aria-label="" ng-disabled="loginForm.$invalid || loginForm.$pristine" translate="" translate-attr-aria-label="发送">
                    发 送
                </md-button>

            </form>


            <div class="login" layout="row" layout-align="center center">
                <a class="link" ui-sref="app.pages_auth_login" translate="FORGOTPASSWORD.GO_BACK">Go back to login</a>

            </div>
            <!--<div class="login" layout="row" layout-align="center center">
                <a class="link" ui-sref="app.pages_auth_login" translate="FORGOTPASSWORD.GO_NEXT">Go back to login</a>
            </div>-->
        </div>
    </div>
</div>