<table class="simple" ms-responsive-table>
    <thead>
        <tr>
            <th>品种名称</th>
            <th>股票代码</th>
            <th>最新价格</th>
            <th class="text-right">幅度</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td></td>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-repeat="gu in vm.gupiao|filter:vm.taskFilters.search" ng-class="{'md-2-lines':true,'actives': isactives==gu.id}" ng-click=" vm.openTaskDialog($event,gu.symbol,gu.id,gu.current_price)">
            <td class="name">{{gu.name}}</td>
            <td class="position">{{gu.symbol}}</td>
            <td class="office">{{gu.current_price }}</td>
            <td class="age text-right">{{gu.change_in_percent }}</td>


        </tr>
    </tbody>
</table>
<style>
    .actives {
        background: #039be5;
    }
</style>