<div id="gantt-chart" class="page-layout carded fullwidth" ng-class="{'date-filter-active':vm.dateFilterActive, 'search-active': vm.searchActive}" layout="row">

    <!-- SETTINGS SIDENAV -->

    <!-- / SETTINGS SIDENAV -->

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="column">
            <div class="toolbar" layout="row" layout-align="space-between center">
                <div class="logo" layout="row" layout-align="start center">
                    <span class="logo-icon">
                        <md-icon md-font-icon="icon-calendar-text" class="icon"></md-icon>
                    </span>
                    <span class="logo-text">取款记录</span>
                </div>
            </div>
            <div class="bottom" layout="column" layout-gt-sm="row" layout-align-gt-sm="end center">
                <div class="search-boxes" flex ng-show="vm.searchActive" layout="column" layout-gt-xs="row">
                    <div class="search md-whiteframe-3dp mr-8" flex layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                        <input flex ng-model="vm.searchRowKeyword" ng-change="vm.search('rows', vm.searchRowKeyword)" type="text" placeholder="Search in rows" translate translate-attr-placeholder="GANTT.SEARCH_IN_ROWS">
                    </div>
                    <div class="search md-whiteframe-3dp" flex layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                        <input flex ng-model="vm.searchTaskKeyword" ng-change="vm.search('tasks', vm.searchTaskKeyword)" type="text" placeholder="Search in tasks" translate translate-attr-placeholder="GANTT.SEARCH_IN_TASKS">
                    </div>
                </div>

                <div class="date-filter-box md-whiteframe-3dp" ng-show="vm.dateFilterActive" layout="column" layout-gt-xs="row" layout-align-gt-xs="center center">
                    <div layout="row" layout-align="center center" class="filter from">
                        <span class="label">From:</span>
                        <md-datepicker ms-datepicker-fix ng-model="vm.options.fromDate" md-max-date="vm.options.toDate" md-placeholder="Enter date"></md-datepicker>
                    </div>
                    <div layout="row" layout-align="center center" class="filter to">
                        <span class="label">To:</span>
                        <md-datepicker ms-datepicker-fix ng-model="vm.options.toDate" md-min-date="vm.options.fromDate" md-placeholder="Enter date"></md-datepicker>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-card">
            <div>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="支付宝汇款">
                            <md-content class="md-padding">
                                <md-content class="page-container">
                                    <md-card class="page" style="padding-left: 30px;">
                                        <h1>支付宝汇款须知</h1>
                                        <p>充值须知：填好以下充值信息后,需要您自主登录支付宝或网银向汇款账户进行手动打款,充值金额最少$10</p>
                                        <p>充值时间：7*24小时可充,我们确认收到汇款后充值到您的账户</p>
                                        <p>赠送资金：100-199.99美元赠送50%；200-499.99美元赠送75%；500美元及以上赠送100%。当本金亏损完，赠金亏损≥100美金时，账户自动清零。如重新充值可继续获得赠金。</p>
                                        <p>备注信息：请务必在汇款附言中填写您的备注信息</p>
                                        <p>如果您有疑问,请联系客服或者拨打400 118 0770</p>
                                    </md-card>
                                    <md-card class="page" style="padding-left: 30px;">
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>汇款帐号:</label>
                                                <input md-maxlength="30" required name="name" type="number" ng-model="user.name" />
                                                <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                                                <div ng-messages="userForm.name.$error" ng-if="!showHints">
                                                    <div ng-message="required">Name is required.</div>
                                                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                                </div>
                                            </md-input-container>
                                            <div flex="5" hide-xs hide-sm>
                                                <!-- Spacer //-->
                                            </div>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>汇款金额(￥)：</label>
                                                <input name="social" ng-model="user.social" type="number" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />
                                                <div class="hint" ng-if="showHints">###-##-####</div>
                                                <div ng-messages="userForm.social.$error" ng-if="!showHints">
                                                    <div ng-message="pattern">###-##-#### - Please enter a valid SSN.</div>
                                                </div>
                                            </md-input-container>
                                        </div>


                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>现汇买入价：</label>
                                                <input md-maxlength="30" required name="name" type="number" ng-model="user.name" />
                                                <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                                                <div ng-messages="userForm.name.$error" ng-if="!showHints">
                                                    <div ng-message="required">Name is required.</div>
                                                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                                </div>
                                            </md-input-container>
                                            <div flex="5" hide-xs hide-sm>
                                                <!-- Spacer //-->
                                            </div>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>兑换($)：</label>
                                                <input name="social" ng-model="user.social" type="number" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />
                                                <div class="hint" ng-if="showHints">###-##-####</div>
                                                <div ng-messages="userForm.social.$error" ng-if="!showHints">
                                                    <div ng-message="pattern">###-##-#### - Please enter a valid SSN.</div>
                                                </div>
                                            </md-input-container>
                                        </div>


                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>赠金($)：</label>
                                                <input md-maxlength="30" required name="name" type="number" ng-model="user.name" />
                                                <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                                                <div ng-messages="userForm.name.$error" ng-if="!showHints">
                                                    <div ng-message="required">Name is required.</div>
                                                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                                </div>
                                            </md-input-container>
                                            <div flex="5" hide-xs hide-sm>
                                                <!-- Spacer //-->
                                            </div>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>到账金额($)：</label>
                                                <input name="social" ng-model="user.social" type="number" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />
                                                <div class="hint" ng-if="showHints">###-##-####</div>
                                                <div ng-messages="userForm.social.$error" ng-if="!showHints">
                                                    <div ng-message="pattern">###-##-#### - Please enter a valid SSN.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <md-button class="md-raised md-primary" ng-click="vm.addEvent($event)">生成汇款单</md-button>
                                    </md-card>
                                </md-content>
                            </md-content>

                        </md-tab>
                        <md-tab label="银行汇款">
                            <md-content class="md-padding">
                                <md-content class="page-container">
                                    <md-card class="page" style="padding-left: 30px;">
                                        <h1>支付宝汇款须知</h1>
                                        <p>充值须知：填好以下充值信息后,需要您自主登录支付宝或网银向汇款账户进行手动打款,充值金额最少$10</p>
                                        <p>充值时间：7*24小时可充,我们确认收到汇款后充值到您的账户</p>
                                        <p>赠送资金：100-199.99美元赠送50%；200-499.99美元赠送75%；500美元及以上赠送100%。当本金亏损完，赠金亏损≥100美金时，账户自动清零。如重新充值可继续获得赠金。</p>
                                        <p>备注信息：请务必在汇款附言中填写您的备注信息</p>
                                        <p>如果您有疑问,请联系客服或者拨打400 118 0770</p>
                                    </md-card>
                                    <md-card class="page" style="padding-left: 30px;">
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>汇款帐号:</label>
                                                <input md-maxlength="30" required name="name" type="number" ng-model="user.name" />
                                                <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                                                <div ng-messages="userForm.name.$error" ng-if="!showHints">
                                                    <div ng-message="required">Name is required.</div>
                                                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                                </div>
                                            </md-input-container>
                                            <div flex="5" hide-xs hide-sm>
                                                <!-- Spacer //-->
                                            </div>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>汇款金额(￥)：</label>
                                                <input name="social" ng-model="user.social" type="number" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />
                                                <div class="hint" ng-if="showHints">###-##-####</div>
                                                <div ng-messages="userForm.social.$error" ng-if="!showHints">
                                                    <div ng-message="pattern">###-##-#### - Please enter a valid SSN.</div>
                                                </div>
                                            </md-input-container>
                                        </div>


                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>现汇买入价：</label>
                                                <input md-maxlength="30" required name="name" type="number" ng-model="user.name" />
                                                <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                                                <div ng-messages="userForm.name.$error" ng-if="!showHints">
                                                    <div ng-message="required">Name is required.</div>
                                                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                                </div>
                                            </md-input-container>
                                            <div flex="5" hide-xs hide-sm>
                                                <!-- Spacer //-->
                                            </div>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>兑换($)：</label>
                                                <input name="social" ng-model="user.social" type="number" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />
                                                <div class="hint" ng-if="showHints">###-##-####</div>
                                                <div ng-messages="userForm.social.$error" ng-if="!showHints">
                                                    <div ng-message="pattern">###-##-#### - Please enter a valid SSN.</div>
                                                </div>
                                            </md-input-container>
                                        </div>


                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>赠金($)：</label>
                                                <input md-maxlength="30" required name="name" type="number" ng-model="user.name" />
                                                <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                                                <div ng-messages="userForm.name.$error" ng-if="!showHints">
                                                    <div ng-message="required">Name is required.</div>
                                                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                                </div>
                                            </md-input-container>
                                            <div flex="5" hide-xs hide-sm>
                                                <!-- Spacer //-->
                                            </div>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>到账金额($)：</label>
                                                <input name="social" ng-model="user.social" type="number" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />
                                                <div class="hint" ng-if="showHints">###-##-####</div>
                                                <div ng-messages="userForm.social.$error" ng-if="!showHints">
                                                    <div ng-message="pattern">###-##-#### - Please enter a valid SSN.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <md-button class="md-raised md-primary">生成汇款单</md-button>
                                    </md-card>
                                </md-content>
                            </md-content>
                        </md-tab>
                        <md-tab label="网银在线">
                            <md-content class="md-padding">
                                <md-content class="page-container">
                                    <md-card class="page" style="padding-left: 30px;">
                                        <h1>支付宝汇款须知</h1>
                                        <p>充值须知：填好以下充值信息后,需要您自主登录支付宝或网银向汇款账户进行手动打款,充值金额最少$10</p>
                                        <p>充值时间：7*24小时可充,我们确认收到汇款后充值到您的账户</p>
                                        <p>赠送资金：100-199.99美元赠送50%；200-499.99美元赠送75%；500美元及以上赠送100%。当本金亏损完，赠金亏损≥100美金时，账户自动清零。如重新充值可继续获得赠金。</p>
                                        <p>备注信息：请务必在汇款附言中填写您的备注信息</p>
                                        <p>如果您有疑问,请联系客服或者拨打400 118 0770</p>
                                    </md-card>
                                    <md-card class="page" style="padding-left: 30px;">
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>汇款帐号:</label>
                                                <input md-maxlength="30" required name="name" type="number" ng-model="user.name" />
                                                <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                                                <div ng-messages="userForm.name.$error" ng-if="!showHints">
                                                    <div ng-message="required">Name is required.</div>
                                                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                                </div>
                                            </md-input-container>
                                            <div flex="5" hide-xs hide-sm>
                                                <!-- Spacer //-->
                                            </div>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>汇款金额(￥)：</label>
                                                <input name="social" ng-model="user.social" type="number" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />
                                                <div class="hint" ng-if="showHints">###-##-####</div>
                                                <div ng-messages="userForm.social.$error" ng-if="!showHints">
                                                    <div ng-message="pattern">###-##-#### - Please enter a valid SSN.</div>
                                                </div>
                                            </md-input-container>
                                        </div>


                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>现汇买入价：</label>
                                                <input md-maxlength="30" required name="name" type="number" ng-model="user.name" />
                                                <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                                                <div ng-messages="userForm.name.$error" ng-if="!showHints">
                                                    <div ng-message="required">Name is required.</div>
                                                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                                </div>
                                            </md-input-container>
                                            <div flex="5" hide-xs hide-sm>
                                                <!-- Spacer //-->
                                            </div>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>兑换($)：</label>
                                                <input name="social" ng-model="user.social" type="number" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />
                                                <div class="hint" ng-if="showHints">###-##-####</div>
                                                <div ng-messages="userForm.social.$error" ng-if="!showHints">
                                                    <div ng-message="pattern">###-##-#### - Please enter a valid SSN.</div>
                                                </div>
                                            </md-input-container>
                                        </div>


                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>赠金($)：</label>
                                                <input md-maxlength="30" required name="name" type="number" ng-model="user.name" />
                                                <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                                                <div ng-messages="userForm.name.$error" ng-if="!showHints">
                                                    <div ng-message="required">Name is required.</div>
                                                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                                </div>
                                            </md-input-container>
                                            <div flex="5" hide-xs hide-sm>
                                                <!-- Spacer //-->
                                            </div>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>到账金额($)：</label>
                                                <input name="social" ng-model="user.social" type="number" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />
                                                <div class="hint" ng-if="showHints">###-##-####</div>
                                                <div ng-messages="userForm.social.$error" ng-if="!showHints">
                                                    <div ng-message="pattern">###-##-#### - Please enter a valid SSN.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <md-button class="md-raised md-primary">生成汇款单</md-button>
                                    </md-card>
                                </md-content>
                            </md-content>
                        </md-tab>

                        <md-tab label="取款">
                            <md-content class="md-padding">
                                <md-content class="page-container">
                                    <md-card class="page" style="padding-left: 30px;">
                                        <h1>支付宝汇款须知</h1>
                                        <p>充值须知：填好以下充值信息后,需要您自主登录支付宝或网银向汇款账户进行手动打款,充值金额最少$10</p>
                                        <p>充值时间：7*24小时可充,我们确认收到汇款后充值到您的账户</p>
                                        <p>赠送资金：100-199.99美元赠送50%；200-499.99美元赠送75%；500美元及以上赠送100%。当本金亏损完，赠金亏损≥100美金时，账户自动清零。如重新充值可继续获得赠金。</p>
                                        <p>备注信息：请务必在汇款附言中填写您的备注信息</p>
                                        <p>如果您有疑问,请联系客服或者拨打400 118 0770</p>
                                    </md-card>
                                    <md-card class="page" style="padding-left: 30px;">
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>汇款帐号:</label>
                                                <input md-maxlength="30" required name="name" type="number" ng-model="user.name" />
                                                <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                                                <div ng-messages="userForm.name.$error" ng-if="!showHints">
                                                    <div ng-message="required">Name is required.</div>
                                                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                                </div>
                                            </md-input-container>
                                            <div flex="5" hide-xs hide-sm>
                                                <!-- Spacer //-->
                                            </div>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>汇款金额(￥)：</label>
                                                <input name="social" ng-model="user.social" type="number" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />
                                                <div class="hint" ng-if="showHints">###-##-####</div>
                                                <div ng-messages="userForm.social.$error" ng-if="!showHints">
                                                    <div ng-message="pattern">###-##-#### - Please enter a valid SSN.</div>
                                                </div>
                                            </md-input-container>
                                        </div>


                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>现汇买入价：</label>
                                                <input md-maxlength="30" required name="name" type="number" ng-model="user.name" />
                                                <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                                                <div ng-messages="userForm.name.$error" ng-if="!showHints">
                                                    <div ng-message="required">Name is required.</div>
                                                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                                </div>
                                            </md-input-container>
                                            <div flex="5" hide-xs hide-sm>
                                                <!-- Spacer //-->
                                            </div>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>兑换($)：</label>
                                                <input name="social" ng-model="user.social" type="number" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />
                                                <div class="hint" ng-if="showHints">###-##-####</div>
                                                <div ng-messages="userForm.social.$error" ng-if="!showHints">
                                                    <div ng-message="pattern">###-##-#### - Please enter a valid SSN.</div>
                                                </div>
                                            </md-input-container>
                                        </div>


                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>赠金($)：</label>
                                                <input md-maxlength="30" required name="name" type="number" ng-model="user.name" />·
                                                <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                                                <div ng-messages="userForm.name.$error" ng-if="!showHints">
                                                    <div ng-message="required">Name is required.</div>
                                                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                                </div>
                                            </md-input-container>
                                            <div flex="5" hide-xs hide-sm>
                                                <!-- Spacer //-->
                                            </div>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>到账金额($)：</label>
                                                <input name="social" ng-model="user.social" type="number" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />
                                                <div class="hint" ng-if="showHints">###-##-####</div>
                                                <div ng-messages="userForm.social.$error" ng-if="!showHints">
                                                    <div ng-message="pattern">###-##-#### - Please enter a valid SSN.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <md-button class="md-raised md-primary">生成汇款单</md-button>

                                    </md-card>
                                </md-content>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>




        </div>
    </div>
</div>
<style>
    .page-layout.carded.fullwidth>.center .header {
        height: 1px;
        min-height: 0px;
        max-height: 0px;
        padding: 0px;
    }
</style>