<div id="dashboard-analytics">
    <div id="widgets">
        <div class="widget-group" layout="row" flex="100" layout-wrap>
            <ms-widget flippable="false" layout="row" flex="100">
                <ms-widget-front class="white-bg">
                    <iframe src="https://staging-h5.tophold.com/dist/trad.html" frameborder="0" width="100%" height="600">  
                    </iframe>
                    <div class="simple-table-container md-whiteframe-4dp">
                        <br/>
                        <div ng-cloak>
                            <md-content>
                                <md-tabs md-dynamic-height md-border-bottom>
                                    <md-tab label="即时下单">
                                        <md-content class="md-padding">

                                            <form name="taskForm" class="md-inline-form" novalidate>
                                                <md-toolbar class="md-accent md-hue-2">
                                                    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                                                        <span class="title">交易中心</span><span class="title">{{vm.zhgusymbol}}{{vm.yichu}}</span><span class="title"></span>
                                                    </div>
                                                </md-toolbar>
                                                <md-dialog-content ms-scroll>
                                                    <div>
                                                        <div layout="column" layout-gt-xs="row">
                                                            <md-input-container flex>
                                                                <label></label>
                                                                <input type="number" name="number" ng-maxlength="5" pattern="[0-9]{1,15}" placeholder=" 请出入购买数量" ng-model="vm.number">
                                                            </md-input-container>
                                                            <!--<md-radio-group>
                                                                <md-radio-button id="1" value="{{ vm.ll}}" ng-click="my(vm.ll)" class="md-primary">即时</md-radio-button>
                                                                <md-radio-button id="2" value="2" ng-click="my(vm.kk)"> 委托 </md-radio-button>
                                                                <md-radio-button id="3" value="3" ng-click="my(vm.kl)">止损</md-radio-button>
                                                            </md-radio-group>-->
                                                        </div>
                                                        <div layout="column" layout-gt-xs="row">
                                                            <md-input-container flex>
                                                                <span class="md-subhead">卖价：{{vm.maichu}}</span>
                                                            </md-input-container>
                                                            <md-input-container flex>
                                                                <span class="md-subhead">买价：{{vm.mairuprice}}</span>
                                                            </md-input-container>
                                                            <md-radio-group>
                                                                <md-radio-button id="0" value="0" ng-click="mys(vm.lm)">当日有效</md-radio-button>
                                                                <md-radio-button id="1" value="1" ng-click="mys(vm.ln)">撤销前有效</md-radio-button>
                                                            </md-radio-group>
                                                        </div>
                                                        <div layout-gt-sm="row">
                                                            <md-input-container class="md-block" flex-gt-sm>
                                                                <label>止赢</label>
                                                                <input name="phone" ng-model="user.phone" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />
                                                            </md-input-container>
                                                            <div flex="5" hide-xs hide-sm>
                                                                <!-- Spacer //-->
                                                            </div>
                                                            <md-input-container class="md-block" flex-gt-sm>
                                                                <label>止损</label>
                                                                <input name="phone" ng-model="user.phone" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />
                                                            </md-input-container>
                                                            <style>
                                                                body[dir=rtl] .hint {
                                                                    right: 2px;
                                                                    left: auto;
                                                                }
                                                            </style>
                                                        </div>
                                                    </div>
                                                </md-dialog-content>
                                                <md-dialog-actions layout="row" layout-align="space-between center">
                                                    <div layout="row" layout-align="start center">
                                                        <md-button type="submit" ng-click="buy(vm.ord_type,vm.time_in_force)" class="send-button md-accent md-raised" ng-disabled="taskForm.$invalid || taskForm.$pristine" aria-label="卖出" translate-attr-aria-label="TODO.SAVE">
                                                            买入
                                                        </md-button>
                                                    </div>
                                                    <div layout="row" layout-align="start center">
                                                        <md-button type="submit" ng-click="remove(a)" class="send-button md-accent md-raised">
                                                            移除自选股
                                                        </md-button>
                                                    </div>
                                                    <div layout="row">
                                                        <md-button type="submit" ng-click="vm.sale()" class="send-button md-accent md-raised" ng-disabled="taskForm.$invalid || taskForm.$pristine" aria-label="买入" translate-attr-aria-label="TODO.SAVE">
                                                            卖出
                                                        </md-button>
                                                    </div>
                                                </md-dialog-actions>
                                            </form>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="委托下单">
                                        <md-content class="md-padding">

                                            <form name="taskForm" class="md-inline-form" novalidate>
                                                <md-toolbar class="md-accent md-hue-2">
                                                    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                                                        <span class="title">交易中心</span><span class="title">{{vm.zhgusymbol}}{{vm.yichu}}</span><span class="title"></span>
                                                    </div>
                                                </md-toolbar>
                                                <md-dialog-content ms-scroll>
                                                    <div>
                                                        <div layout="column" layout-gt-xs="row">
                                                            <md-input-container flex>
                                                                <label></label>
                                                                <input type="number" name="number" ng-maxlength="5" pattern="[0-9]{1,15}" placeholder=" 请出入购买数量" ng-model="vm.number">
                                                            </md-input-container>
                                                            <md-radio-group>

                                                                <md-radio-button id="2" value="2" ng-click="my(vm.kk)"> 限价 </md-radio-button>
                                                                <md-radio-button id="3" value="3" ng-click="my(vm.kl)">顺势</md-radio-button>
                                                            </md-radio-group>
                                                        </div>
                                                        <div layout="column" layout-gt-xs="row">
                                                            <md-input-container flex>
                                                                <span class="md-subhead">卖价：{{vm.maichu}}</span>
                                                            </md-input-container>
                                                            <md-input-container flex>
                                                                <span class="md-subhead">买价：{{vm.mairuprice}}</span>
                                                            </md-input-container>
                                                            <md-radio-group>
                                                                <md-radio-button id="0" value="0" ng-click="mys(vm.lm)">当日有效</md-radio-button>
                                                                <md-radio-button id="1" value="1" ng-click="mys(vm.ln)">撤销前有效</md-radio-button>
                                                            </md-radio-group>
                                                        </div>
                                                        <div layout-gt-sm="row">
                                                            <md-input-container class="md-block" flex-gt-sm>
                                                                <label>止赢</label>
                                                                <input name="phone" ng-model="user.phone" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />
                                                            </md-input-container>
                                                            <div flex="5" hide-xs hide-sm>
                                                                <!-- Spacer //-->
                                                            </div>
                                                            <md-input-container class="md-block" flex-gt-sm>
                                                                <label>止损</label>
                                                                <input name="phone" ng-model="user.phone" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />
                                                            </md-input-container>
                                                            <style>
                                                                body[dir=rtl] .hint {
                                                                    right: 2px;
                                                                    left: auto;
                                                                }
                                                            </style>
                                                        </div>
                                                    </div>
                                                </md-dialog-content>
                                                <md-dialog-actions layout="row" layout-align="space-between center">
                                                    <div layout="row" layout-align="start center">
                                                        <md-button type="submit" ng-click="buy(vm.ord_type,vm.time_in_force)" class="send-button md-accent md-raised" ng-disabled="taskForm.$invalid || taskForm.$pristine" aria-label="卖出" translate-attr-aria-label="TODO.SAVE">
                                                            买入
                                                        </md-button>
                                                    </div>
                                                    <div layout="row" layout-align="start center">
                                                        <md-button type="submit" ng-click="remove(a)" class="send-button md-accent md-raised">
                                                            移除自选股
                                                        </md-button>
                                                    </div>
                                                    <div layout="row">
                                                        <md-button type="submit" ng-click="vm.sale()" class="send-button md-accent md-raised" ng-disabled="taskForm.$invalid || taskForm.$pristine" aria-label="买入" translate-attr-aria-label="TODO.SAVE">
                                                            卖出
                                                        </md-button>
                                                    </div>
                                                </md-dialog-actions>
                                            </form>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label=" 我的持仓">
                                        <md-content class="md-padding">
                                            <div class="content">
                                                <table class="dataTable row-border hover" datatable="ng">
                                                    <thead>
                                                        <tr>
                                                            <th class="secondary-text">
                                                                <div class="table-header">
                                                                    <span class="column-title">交易品种</span>
                                                                </div>
                                                            </th>
                                                            <th class="secondary-text">
                                                                <div class="table-header">
                                                                    <span class="column-title">数量</span>
                                                                </div>
                                                            </th>
                                                            <th class="secondary-text">
                                                                <div class="table-header">
                                                                    <span class="column-title">持仓本金</span>
                                                                </div>
                                                            </th>
                                                            <th class="secondary-text">
                                                                <div class="table-header">
                                                                    <span class="column-title">平均价格</span>
                                                                </div>
                                                            </th>
                                                            <th class="secondary-text">
                                                                <div class="table-header">
                                                                    <span class="column-title">价格</span>
                                                                </div>
                                                            </th>
                                                            <th class="secondary-text">
                                                                <div class="table-header">
                                                                    <span class="column-title">币种</span>
                                                                </div>
                                                            </th>
                                                            <th class="secondary-text">
                                                                <div class="table-header">
                                                                    <span class="column-title">盈亏</span>
                                                                </div>
                                                            </th>
                                                            <th class="secondary-text">
                                                                <div class="table-header">
                                                                    <span class="column-title">盈亏$</span>
                                                                </div>
                                                            </th>
                                                            <th class="secondary-text">
                                                                <div class="table-header">
                                                                    <span class="column-title">市值</span>
                                                                </div>
                                                            </th>
                                                            <th class="secondary-text">
                                                                <div class="table-header">
                                                                    <span class="column-title">市值$</span>
                                                                </div>
                                                            </th>
                                                            <th class="secondary-text">
                                                                <div class="table-header">
                                                                    <span class="column-title">操作</span>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="cic in vm.aa" ng-class="{'md-2-line':true,'activehind': isactive==cic.product_id}">

                                                            <td>{{ cic.name }}</td>
                                                            <td>{{ cic.custom_typ_name }}</td>
                                                            <td>{{ cic.symbol }}</td>
                                                            <td>{{ cic.avg_px }}</td>
                                                            <td>{{ cic.value }}</td>
                                                            <td>{{ cic.symbol }}</td>
                                                            <td>{{ cic.profit_and_loss }}</td>
                                                            <td>{{ cic.converted_profit_and_loss }}</td>
                                                            <td>{{ cic.value }}</td>
                                                            <td>{{ cic.converted_value }}</td>
                                                            <td>
                                                                <button class=" md-raised md-primary md-button md-default-theme " ,style="coloe:#ffffff " ng-click="toggle(orders.id ,cic.symbol,cic.product_id) " type="button ">{{ vm.nmfalse}}</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <style>
                                                    .activehind {
                                                        display: none;
                                                    }
                                                </style>
                                            </div>
                                        </md-content>

                                    </md-tab>
                                    <md-tab label="我的持仓">
                                        <div class="widget-group" layout="row" flex="100" layout-wrap>
                                            <ms-widget layout="row" flex="100">
                                                <ms-widget-front class="white-bg">
                                                    <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
                                                        <div class="h2">{{vm.widget11.title}}</div>
                                                        <div class="text-boxed red-bg white-fg m-0">{{vm.widget11.table.rows.length}} members
                                                        </div>
                                                    </div>
                                                    <table class="dataTable row-border hover" datatable="ng" dt-options="vm.widget11.dtOptions">
                                                        <thead>
                                                            <tr>
                                                                <th class="secondary-text" ng-repeat="column in ::vm.widget11.table.columns">
                                                                    <div class="table-header">
                                                                        <span class="column-title">{{column.title}}</span>
                                                                    </div>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="row in ::vm.widget11.table.rows">
                                                                <td ng-repeat="cell in row">
                                                                    <img class="avatar" ng-if="$index === 0" ng-src="assets/images/avatars/{{cell}}">

                                                                    <span ng-if="$index != 0"> 
                                                                                  {{cell}}
                                                                             </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </ms-widget-front>
                                            </ms-widget>
                                        </div>
                                    </md-tab>
                                </md-tabs>
                            </md-content>
                        </div>
                    </div>
                </ms-widget-front>
            </ms-widget>
        </div>
    </div>
</div>

<style>
    .dataTables_length {
        position: relative;
        top: 15px;
    }
    /*.dataTables_filter {
        position: relative;
        top: -20px;
    }*/
    
    .dataTables_info {
        position: relative;
        top: 35px;
    }
</style>