<div id="register" class="flex-scrollable" layout="column" ms-scroll>
    <div id="register-form-wrapper" layout="column" layout-align="center center">
        <div id="register-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <!--<span>F</span>-->
            </div>

            <div class="title" translate="REGISTER.TITLE">{{ vm.registersuccet}}</div>

            <form name="registerForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input name="username" ng-model="vm.form.username" placeholder="Name" translate translate-attr-placeholder="REGISTER.NAME" required>
                    <div ng-messages="registerForm.username.$error" role="alert">
                        <div ng-message="required">
                            <span translate="REGISTER.ERRORS.USERNAME_REQUIRED">Username field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="Email" translate translate-attr-placeholder="REGISTER.EMAIL" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="registerForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="REGISTER.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="REGISTER.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="tel" name="tel" ng-model="vm.form.phone" placeholder="Tel" translate translate-attr-placeholder="手机号" ng-pattern="/^1\d{10}$/" required>
                    <div ng-messages="registerForm.tel.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="REGISTER.ERRORS.TEL_REQUIRED">tel field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="REGISTER.ERRORS.TEL_MUST_VALID">tel must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>
                <div layout-gt-sm="row">
                    <md-input-container flex>
                        <label>请输入验证码</label>
                        <input ng-model="vm.form.phone_code" type="text" />
                    </md-input-container>
                    <md-input-container flex>
                        <md-button flex="50" ng-click="getTestCode()" ng-bind="description" ng-disabled="canClick" class="md-primary md-raised"></md-button>
                    </md-input-container>
                    <!--<md-autocomplete flex required md-input-name="autocompleteField" md-input-minlength="2" md-input-maxlength="18" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)"
                        md-item-text="item.display" md-require-match md-floating-label="Favorite state">
                        <md-item-template>
                            <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
                        </md-item-template>
                    </md-autocomplete>-->
                </div>


                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.password" placeholder="Password" translate translate-attr-placeholder="REGISTER.PASSWORD" required>
                    <div ng-messages="registerForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span translate="REGISTER.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="passwordConfirm" ng-model="vm.password_confirmation" placeholder="Password " translate translate-attr-placeholder="REGISTER.PASSWORD_CONFIRM" required>
                    <div ng-messages="registerForm.passwordConfirm.$error" role="alert">
                        <div ng-message="required">
                            <span translate="REGISTER.ERRORS.PASSWORD_CONFIRM_REQUIRED">Password (Confirm) field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <div class="terms" layout="row" layout-align="center center">
                    <md-checkbox name="terms" ng-model="data.cb1" aria-label="I read and accept" required></md-checkbox>
                    <div layout="row" layout-sm="column" layout-align="start center">
                        <span translate="REGISTER.READ_ACCEPT">I read and accept</span>
                        <a href="#" class="md-accent-color" translate="REGISTER.TERMS_COND">terms and conditions</a>
                    </div>
                </div>

                <md-button type="submit" ng-click="segister()" class="md-raised md-accent submit-button" aria-label="CREATE MY ACCOUNT" ng-disabled="registerForm.$invalid || registerForm.$pristine" translate="REGISTER.CREATE_ACCOUNT" translate-attr-aria-label="REGISTER.CREATE_ACCOUNT">
                    CREATE MY ACCOUNT
                </md-button>
            </form>

            <div class="login" layout="row" layout-xs="column" layout-align="center center">
                <span class="text" translate="REGISTER.ALREADY_HAVE">Already have an account?</span>
                <a class="link" ui-sref="app.pages_auth_login" translate="REGISTER.LOGIN">Log in</a>
            </div>
        </div>
    </div>
</div>